
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --magenta:#9d60e2;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
    background-color: var(--magenta);
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background: var(--magenta);
}

body{
    background-color: #111;
    overflow-x: hidden;
    padding:0;
    margin: 0;
}

section{
    min-height: 100vh;
    padding: 1rem;
}

/* CSS in style.css */
#intro {
    text-decoration-color: #faf4f4; 
    text-shadow: 2px 2px 4px  #9d60e2;
    animation: shadowPulse 2s infinite;
}

@keyframes shadowPulse {
    0% {
        text-shadow: 2px 2px 4px #9d60e2;
    }
    50% {
        text-shadow: 8px 8px 10px #9d60e2;
    }
    100% {
        text-shadow: 2px 2px 4px #9d60e2;
    }
}


.btn{
    padding: .7rem 3rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background: var(--magenta);
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

header{
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    background-color: #333;
}

svg{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--magenta)
}

header .user .name{
    font-size: 3.5rem;
    color: #fff;
}

header .user .post{
    font-size: 2rem;
    color: #eee;
}

header .navbar{
    width: 100%;
}

header .navbar ul{
    list-style-type: none;
    padding: 1rem 3rem;
}

header .navbar ul li{
   width: 18%;
   padding: 10px;
   float: right;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    z-index: 1;
}

header .navbar ul li a:hover{
    background: var(--magenta);
}

#menu{
    position: fixed;
    padding-top:1.5rem; 
    right:2rem;
    background: #333;
    color: #eee;
    cursor: pointer;
    font-size: 3rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

#menu-return{
    position: fixed;
    top:1rem; 
    left:2rem;
    cursor: pointer;
    z-index: 100;
}


#menu-icon{
    position: fixed;
    top:1rem; 
    left:2rem;
    border: var(--magenta) solid;
    border-radius: 100%;
    z-index: 100;
}


@media (max-width:1200px) {
    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }
    header .navbar ul li{
        float: right;
        width: 100%;
     }
     header{
        width: 50%;
        height: 100%;
        border-radius: 10px;
     }
}

header.toggle{
     right: 0%
}


@media (max-width:768px) {
    html{
        font-size: 50%;
    }
    #menu, #menu-bar{
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
        top: 0;
        right: 0;
        padding-right: 30px;
     }
     header{
        display: none;
     }
     header.toggle{
        padding-top: 35%;
        display: block;
     }
     .navbar ul #menu-icon{
       margin-left: 62%;
       height: 18rem;
       width: 18rem;
       margin-top: 15%;
     }
     .experience .row .box span{
        font-size: 1.3rem;
    }
    .experience .row .counter .box{
        width: 75%;
    }

}

    .heading{
        margin: 0 3rem;
    }

    .experience .row .counter .box{
        width: 20%;
    }
    .portfolio .box-container{
        width: 20%;
    }

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color: #fff;
}

.home h1{
    font-size: 5rem;
    color: #fff;
}

.home span{
    color: var(--magenta);
}

.home p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.experience .row{
    color: white;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.experience .row .counter{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.experience .row .counter .box{
    width: 50%;
    background: #222;
    margin: 2rem;
}
.experience .row .counter .box .left-side{
    font-size: 3rem;
    text-align: center;
    color: var(--magenta);
}


.experience .row .counter .box span{
    font-size: 3rem;
    text-align: center;
    color: var(--magenta);
}

.experience .row .counter .box h3{
    font-size: 2rem;
    color: #fff;
}

.experience .row .box{
    background: #222;
    align-items: center;
    padding:1rem 0;
    padding-left: 3rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    z-index: -1;
    position:relative;
    text-align: center;
}

.experience .row .box span{
    font-size: 20rem;
    background: #222;
    color: #fff;
    font-weight: bold;
    border-radius: 5rem;
}

.experience .row .box h3{
    font-size: 3rem;
    color: #fff;
    padding-top: 1.5rem;
}

.experience .row .box p{
    font-size: 1.8rem;
    color: #eee;
    padding-right: 2rem;
    text-align: left;
}

.experience .row .box i{
    position: absolute;
    top:-1.5rem;
    left:-2.5rem;
    height:5rem;
    width:5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: var(--magenta);
}

.portfolio .box-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio .box-container .box{
    height: 22rem;
    width: 37rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .box-container .box-buffer{
    height: 20rem;
    width: 35rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    background-color:#333;
    border: 1rem solid #333;
    background-image: 
    linear-gradient(175deg, rgb(0 0 0 / 0%) 95%, #8d50a1 95%),
    linear-gradient( 85deg, rgb(0 0 0 / 0%) 95%, #8d50a1 95%),
    linear-gradient(175deg, rgb(0 0 0 / 0%) 80%, #4a3551 80%),
    linear-gradient( 85deg, rgb(0 0 0 / 0%) 80%, #4a3551 80%),
    linear-gradient(175deg, rgb(0 0 0 / 0%) 60%, #471357 60%),
    linear-gradient( 85deg, rgb(0 0 0 / 0%) 60%, #471357 60%),
    linear-gradient(175deg, rgb(0 0 0 / 0%) 40%, #8d50a1 40%),
    linear-gradient( 85deg, rgb(0 0 0 / 0%) 40%, #8d50a1 40%),
    linear-gradient(175deg, rgb(0 0 0 / 0%) 20%, #4a3551 20%),
    linear-gradient( 85deg, rgb(0 0 0 / 0%) 20%, #4a3551 20%),
    linear-gradient(175deg, rgb(0 0 0 / 0%) 0%, #471357 0%),
    linear-gradient( 85deg, rgb(0 0 0 / 0%) 0%, #471357 0%);
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.1);
}